// colors

$theme-white: #fdfffc;
$theme-blue: #235789;
$theme-yellow: #f1d302;
$theme-red: #c1292e;
$theme-black: #020100;

$theme-title-font: 'Work Sans', sans-serif;
$theme-content-font: 'Poppins', sans-serif;