.hero-message {
    height: 100vh;
    width: 100vw;
    padding: $default-padding;
    display: grid;
    .text {
        justify-self: center;
        align-self: center;
        font-size: 72px;
    }
}